@import url("https://rsms.me/inter/inter.css");

* {
  font-family: "Inter", sans-serif;
}

.back-button-gradient {
  background: linear-gradient(91deg, #ffae5a 6.24%, #fb8d1a 94.79%);
}

.dashboard-button-selected {
  border-bottom: 2px solid #747070;
  background: linear-gradient(272deg, #573cfa 6.17%, #7e7afd 98.25%);
}

.home-button-gradient {
  background: linear-gradient(271deg, #02864a 10.4%, #18cc7a 97.19%);
}

.toner-button-selected {
  border-bottom: 2px solid #747070;
  background: linear-gradient(272deg, #49bf88 6.17%, #59cb97 98.25%);
}

.media-button-selected {
  border-bottom: 2px solid #747070;
  background: linear-gradient(272deg, #fda040 6.17%, #ffba73 98.25%);
}

.token-button-selected {
  border-bottom: 2px solid #726b93;
  background: linear-gradient(272deg, #b6b6b6 6.17%, #d9d9d9 98.25%);
}

.progress-bar {
  width: 70%;
  margin: auto;
  margin-top: 19px;
  height: 15px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.progress {
  height: 100%;
  background-color: #4fc38e;
  border-radius: 10px;
  width: 0%;
  animation: progress 5s ease-in-out forwards;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.toner {
  border-color: #3fb780;
}

.media {
  border-color: #ffa74b;
}

.balance-bar {
  width: 100%;
  margin-top: 5px;
  height: 23px;
  background-color: #454545;
  border-radius: 10px;
}

.balance {
  height: 100%;
  background-color: #573cfa;
  border-radius: 10px;
}

.table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

.custom-font-sm {
  font-size: 12px;
  line-height: 124.023%;
  letter-spacing: 0.66px;
}

.custom-font-md {
  font-size: 16px;
  line-height: 124.023%;
}
