/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.back-button-gradient {
  background: linear-gradient(91deg, #ffae5a 6.24%, #fb8d1a 94.79%);
}

.dashboard-button-selected {
  border-bottom: 2px solid #747070;
  background: linear-gradient(272deg, #573cfa 6.17%, #7e7afd 98.25%);
}

.home-button-gradient {
  background: linear-gradient(271deg, #02864a 10.4%, #18cc7a 97.19%);
}

.toner-button-selected {
  border-bottom: 2px solid #747070;
  background: linear-gradient(272deg, #49bf88 6.17%, #59cb97 98.25%);
}

.media-button-selected {
  border-bottom: 2px solid #747070;
  background: linear-gradient(272deg, #fda040 6.17%, #ffba73 98.25%);
}

.token-button-selected {
  border-bottom: 2px solid #726b93;
  background: linear-gradient(272deg, #b6b6b6 6.17%, #d9d9d9 98.25%);
}
